﻿@{
    ViewData["title"] = "Danh sách sản phẩm yêu thích";
    var key = 0;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

</head>
<body>
    <h3>Sản phẩm yêu thích</h3>


    <table class="table" id="myTable">
        <thead>
            <tr>
                <th>Id</th>
                <th>Tên sản phẩm</th>
                <th>Mô tả</th>
                <th>Giá sản phẩm</th>
                <th>Hình ảnh</th>
                <th>Hành động</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var wishlist_product in Model)
            {
                key++;
                <tr>
                    <td>@key</td>
                    <td>@wishlist_product.Product.Name</td>
                    <td>@Html.Raw(@wishlist_product.Product.Description)</td>
                    <td>@wishlist_product.Product.Price.ToString("#,##0 VNĐ")</td>
                    <td> <img src="~/media/products/@wishlist_product.Product.Image" width="120px" height="150px" /> </td>
                    <td><a class="btn btn-danger btn-sm confirmDeletion" asp-action="DeleteWishlist" asp-controller="Home" asp-route-Id="@wishlist_product.Wishlists.Id">Delete</a></td>
                </tr>
            }
        </tbody>
    </table>
</body>

</html>@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
