@model StatisticalModel
@{
    ViewData["Title"] = "Dashboard";
}
<div class="row">
    <div class="container-fluid">
        <div class="col-md-12">
            <h5>Thống kê số lượng</h5>
            <ul>
                <li>Tổng đơn hàng : @ViewBag.CountOrder</li>
                <li>Tổng sản phẩm : @ViewBag.CountProduct</li>
                <li>Tổng danh mục sản phẩm : @ViewBag.CountCategory</li>
                <li>Tổng khách hàng : @ViewBag.CountUser</li>
            </ul>
        </div>
        <div class="container">
            <div class="row">
            <div class="col-md-3">
                <h4>Lọc dữ liệu theo</h4>
                <select class="form-control filter-select">
                        <option value="30">--Lọc theo ngày--</option>
                    <option value="7">7 ngày</option>
                    <option value="30">30 ngày</option>
                    <option value="90">90 ngày</option>
                    <option value="365">365 ngày</option>
                </select>
            </div>
            <div class="col-md-3">
                <h4>Tùy chọn: </h4>
                <label>Từ ngày: </label>
					<input type="date" class="form-control" id="date_from" asp-for="@Model.DateCreated"/>
                    <label>Đến ngày: </label>
                    <input type="date" class="form-control" id="date_to" asp-for="@Model.DateCreated" />
					<button class="btn btn-primary" id="filterButton">Lọc</button>
            </div>
            </div>
        </div>
	<h4>Biểu đồ thống kê</h4>

            <div id="myfirstchart" style="height: 250px;"></div>
            </div>
</div>
@section Scripts {

    <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
    <script src="https://code.jquery.com/ui/1.14.0/jquery-ui.js"></script>

    <script>
        $(document).ready(function () {
            var CharMorris = new Morris.Line({
               element: 'myfirstchart',
               data: [],
			   xkey: 'date',
			   ykeys: ['sold', 'quantity', 'revenue', 'profit'],
			   labels: ['Sản phẩm đã bán', 'Đơn hàng thành công', 'Doanh thu', 'Lợi nhuận']
            });

            $.ajax({
                url: "@Url.Action("GetChartData", "Dashboard")",
                type: "POST",
                dataType: "json",
                success: function (data) {
                    if(data){
                       CharMorris.setData(data.map(function (item) {
                        return {
                            date: item.date,
                            sold: item.sold,
                            quantity: item.quantity,
                            revenue: item.revenue,
                            profit: item.profit
                        };
                    }));
                    }else{
						console.log("error fetching data", error);
						CharMorris.setData([]);
                    }
					},
					error: function (error) {
						console.log("error fetching data", error);
					}
					});

                    $('.filter-select').on('change',function(){
                            var days = $(this).val();
                    var endDate = new Date();
                    var startDate = new Date(endDate.getTime() - days * 24 * 60 * 60 * 1000);
                            //alert(startDate);
						 // alert(endDate);
                     $.ajax({
                         url: "@Url.Action("GetChartDataBySelect", "Dashboard")",
                         type: 'POST',
                            data: {
                             startDate: startDate.toISOString().split('T')[0],
                                endDate: endDate.toISOString().split('T')[0]
                            },
                            success: function (data) {
                            if (data) {
                                CharMorris.setData(data.map(function (item) {
                                return {
                                    date: item.date,
                                    sold: item.sold,
                                    quantity: item.quantity,
                                    revenue: item.revenue,
                                    profit: item.profit
                               };
                    }));
            }else{
                    Console.Warn("không co dữ liệu");
		            CharMorris.setData([]);
                }
            },
			error: function (error) {
			console.error("error fetching data", error);
                },
			    });                  
            });
            $('#filterButton').on('click', function () {
                var startDate = $('#date_from').val();
                var endDate = $('#date_to').val();
                $.ajax({
                    url: "@Url.Action("GetChartDataBySelect", "Dashboard")",
                    type: 'POST',
                    data: {
                        startDate: startDate,
                        endDate: endDate
                    },
                    success: function (data) {
                        if (data) {
                            CharMorris.setData(data.map(function (item) {
                                return {
                                    date: item.date,
                                    sold: item.sold,
                                    quantity: item.quantity,
                                    revenue: item.revenue,
                                    profit: item.profit
                                };
                            }));
                        } else {
                            console.warn("không có dữ liệu");
                            CharMorris.setData([]);
                        }
                    },
                    error: function (error) {
                        console.error("error fetching data", error);
                    },
                });
            });
            $("#filterButton").click(function(){
				var fromDate = $("#date_from").val();
				var toDate = $("#date_to").val();
				$.ajax({
					url: "@Url.Action("FilterData", "Dashboard")",
					type: "POST",
					data: {fromDate: fromDate, toDate: toDate},
                    success: function (data){
						if(data){
							CharMorris.setData(data.map(function (item) {
								return {
									date: item.date,
									sold: item.sold,
									quantity: item.quantity,
									revenue: item.revenue,
									profit: item.profit
								};
							}));
						}else
                        {
							console.warn("không có dữ liệu");
							CharMorris.setData([]);
						}
                    },
					error: function (error) {
						console.error("error fetching data", error);
					}
                        });
                    });
                });
    </script>
} 