@model IEnumerable<OrderModel>
@{
    ViewData["title"] = "Danh sách đơn hàng";
    Paginate pager = new Paginate();
    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
    }
}

<h3>Danh sách đơn hàng</h3>
<table class="table" id="myTable">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col" style="text-align:center">Mã đơn hàng</th>
			<th scope="col" style="text-align:center">Phí vận chuyển</th>
            <th scope="col" style="text-align:center">Email khách hàng</th>
            <th scope="col" style="text-align:center">Ngày tạo đơn hàng</th>
            <th scope="col" style="text-align:center">Trạng thái đơn hàng</th>
            <th scope="col" style="text-align:center">Hành động</th>
        </tr>
    </thead>
    <tbody style="text-align:center">
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.Id</th>
                <th>@item.OrderCode</th>
                <td>@item.ShippingCost.ToString("#,##0 VNĐ")</td>
                <td>@item.UserName</td>
                <td>@item.CreateDate</td>
                <td>
                    @if (item.Status == 1)
                    {
                        <span class="text text-success">Đơn hàng mới</span>
                    }
                    else if (item.Status == 2)
                    {
                        <span class="text text-success">Đã giao hàng</span>
                    }
                    else
                    {

                        <span class="text text-danger">Đã hủy</span>
                    }
                </td>
                <td>
                    <a asp-action="ViewOrder" class="btn btn-warning btn-sm" asp-controller="Order" asp-route-ordercode="@item.OrderCode">Xem</a>
                    <a asp-action="Delete" asp-controller="Order" asp-route-ordercode="@item.OrderCode" class="btn btn-danger btn-sm confirmDeletion">Xóa</a>

                </td>
            </tr>
        }
    </tbody>
</table>

<partial name="_Paging" model="@pager" />