@model IEnumerable<OrderDetailModel>
@{
	ViewData["title"] = "Trang chi tiết đơn hàng";
	decimal total = 0; // Store total amount
	decimal subtotal = 0;
}
<h3>Danh sách đơn hàng</h3>
<table class="table">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col" style="text-align:center">Id</th>
			<th scope="col" style="text-align:center">Mã đơn hàng</th>
			<th scope="col" style="text-align:center">Tên khác hàng</th>
			<th scope="col" style="text-align:center">Tên sản phẩm</th>

			<th scope="col" style="text-align:center">Giá</th>
			<th scope="col" style="text-align:center">Số lượng</th>
			<th scope="col" style="text-align:center">Tổng cộng</th>

		</tr>
	</thead>

	<tbody style="text-align:center">
		@foreach (var item in Model)
		{
			subtotal = item.Quantity * item.Price; //số lượng * giá
			total += subtotal;
			<tr>
				<th></th>
				<input type="hidden" asp-for="@item.OrderCode" class="getId"/>
				<td>@item.Id</td>
				<td>@item.OrderCode</td>
				<td>@item.UserName</td>
				<td>@item.Product.Name</td>
				<td>@item.Price.ToString(("#,##0 VNĐ"))</td>
				<td>@item.Quantity</td>
				<td>@subtotal.ToString("#,##0 VNĐ")</td>
			</tr>
		}
		<tr>
			<th colspan="5">Tổng cộng:</th>			
			<td>@total.ToString("#,##0 VNĐ")</td>
			<td>Phí vận chuyển: @ViewBag.ShippingCost.ToString("#,##0 VNĐ")</td>
			<td>
				@if (ViewBag.Status != 3){
					<select class="form-control select-update-order">
						@if (ViewBag.Status == 2)
						{
							<option disabled value="1">Đơn hàng mới</option>
							<option value="2" >Đã xử lý</option>
						}
						else
						{
							<option value="1">Đơn hàng mới</option>
							<option value="2" >Đã xử lý</option>
						})
					</select>
				}
				
			</td>
		</tr>
	</tbody>
</table>
@section Scripts{
	<script>
		$(document).ready(function () {
			$('.select-update-order').change(function () {
				var status = $(this).val(); //status = 1
				var ordercode = $('.getId').val(); //
				// alert(status);
				// alert(ordercode);

				$.ajax({
					type: "POST",
					url: "@Url.Action("UpdateOrder")",
					data: { status: status, ordercode: ordercode }, // Send data to the server

					success: function (result) {
						// Handle successful update
						if (result.success) {

							Swal.fire("Cập nhật đơn hàng thành công.");
						} else {

							Swal.fire("Cập nhật đơn hàng thất bại." + result.message);

						}
					}

				});
			});
		});
	</script>
	}