@model IEnumerable<ProductModel>

<div class="col-sm-3">
	@Html.Partial("_SideBar")
</div>

<div class="col-sm-9 padding-right">
	<div class="features_items">
		<!--features_items-->
		@if (TempData["SuccessMessage"] != null)
		{
			<div id="notification" class="alert alert-success" style="position: fixed; top: 20px; left: 50%; transform: translateX(-50%); z-index: 1000;">
				@TempData["SuccessMessage"]
			</div>
			<script>
				setTimeout(function() {
					document.getElementById('notification').style.display = 'none';
				}, 3000); // Thông báo sẽ tự động biến mất sau 3 giây
			</script>
		}
		<h2 class="title text-center">Sản phẩm theo danh mục</h2>
		@foreach (var item in Model)
		{

			<div class="col-sm-4">
				<div class="product-image-wrapper">
					<div class="single-products">
						<div class="productinfo text-center">
							<td><img src="~/media/products/@item.Image" width="100%" /></td>
							<h2>@item.Price.ToString("#,##0 VNĐ") </h2>
							<p>@item.Name</p>
							<p>Danh mục: @item.Category.Name</p>
							<p>Thương hiệu: @item.Brand.Name</p>
							@if (item.Quantity > 0)
							{
								<button type="button" class="btn btn-fefault cart">
									<i class="fa fa-shopping-cart"></i>
									Thêm giỏ hàng
								</button>
							}
							else
							{
								<button type="button" class="btn btn-fefault">
									<i class="fa fa-shopping-cart"></i>
									Hết hàng
								</button>
							}
						</div>
					</div>
					<div class="choose">
						<ul class="nav nav-pills nav-justified">
							<li><a href="#"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
							<li><a href="#"><i class="fa fa-plus-square"></i>Add to compare</a></li>
						</ul>
					</div>
				</div>
			</div>
		}
	</div>
</div>