@model ProductQuantityModel
@{
    ViewData["title"] = "Thêm số lượng";
    var total_quantities = 0;
    decimal key = 1;
}

<h4>Thêm số lượng</h4>
<div class="col-md-9">
	<form asp-action="UpdateMoreQuantity" enctype="multipart/form-data">
		<input type="hidden" name="ProductId" value="@ViewBag.Id"/>
		<div asp-validation-summary="ModelOnly" class="text-danger"></div>
		<div class="form-group">
			<label>Số lượng:	</label>
			<input asp-for="Quantity" class="form-control" />
			<span asp-validation-for="Quantity" class="text-danger" />
		</div>
		<div class="form-group">
			<button class="btn btn-success btn-priamry">Thêm số lượng...</button>
		</div>
	</form>
    <h3>Existing Product Quantities:</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Key</th>
                <th>Số lượng thêm</th>

                <th>Ngày</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var productQuantity in ViewBag.ProductByQuantity)

            {

                total_quantities += productQuantity.Quantity;
                <tr>
                    <td>@key</td>
                    <td>@productQuantity.Quantity</td>

                    <td>@productQuantity.CreatedDate</td>
                </tr>
                key++;
            }
            <tr>
                <td>Tổng số đã thêm : @total_quantities</td>
            </tr>
        </tbody>
    </table>
	<a asp-action="Index">Quay trở lại trang trước</a>
</div>
@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
